.footer_container {
    background-color: rgba(4, 156, 251, 0.03);
    width: 100%;
    height: 764px;
    padding-top: 100px;

    background-image: url('../../public/tlab/rounded_rect_footer.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
}

.footer_content_container {
    display: flex;
    justify-content: space-between;
}

.footer_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
}

.footer_section p {
    /* Small */

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    /* or 25px */

    letter-spacing: 0.005em;

    /* pastel/black/700 */

    color: #5A5A5A;

    opacity: 0.5;
}

.footer_section a {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 44px;
    /* or 44px */

    letter-spacing: 0.005em;

    /* pastel/black/700 */

    color: #5A5A5A;
}

.company {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    /* line-height: 180.5%; */
    /* identical to box height, or 29px */

    letter-spacing: 0.005em;

    margin-bottom: 8px;
}

.info {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 180.5%; */
    /* or 29px */

    letter-spacing: 0.005em;

    /* pastel/black/700 */

    color: #5A5A5A;
}

.phone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}